@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <a><h1>Chord Database</h1></a>
    <br /><br />
    <p>This is the ultimate chords database to keep track of all those complicated jazz chords!</p>
    <p>Click on the Chords tab at the top to get started</p>

</div>
